{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% block content %}
<div id="content-main">



  <h2 style="color:#fff;">Coloque o cartão sobre a gravadora antes de confirmar a gravação do cartão para o usuário<i>{{ primeiro_nome }}</i>:</h2>
  <br>
  <form action="" method="post">{% csrf_token %}
    
    <div class="submit-row">
      <!-- <input type="hidden" name="action" value="{{ id_usuario }}"/> -->
      <input type="submit" name="confirm" class="button" style="color:#fff;" value="{% trans "Gravar Cartão" %}"/>
      <input type="button" value="{% trans "Cancelar" %}" onclick="window.history.back(); return false;"
         class="button cancel-link" style="background-color: #b33f3f;">
    </div>
  </form>
</div>
{% endblock %}