{% extends "admin/change_list.html" %} {% load i18n %} 
{% block object-tools %}
    <div>
    	<form action="atualizar_token/" method="GET">
            {% csrf_token %}
            <button type="submit">Atualizar token</button>
        </form>
        
        Token: {{messages.0}}
        <!-- {{content}} -->
    </div>
    {% if messages %}
    	{% for message in messages %}
	        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
	    {% endfor %}
	{% endif %}
    <br />
    {{ block.super }}
{% endblock %}