{% extends "admin/change_list.html" %} {% load i18n %} 
{% block object-tools %}
    <div>
    	<form action="sincronizar_pacotes_contaazul/" method="GET">
            {% csrf_token %}
                <button type="submit">Sincronizar com Conta Azul</button>
        </form>
        Code: {{code}}
        <form action="acessar_auth_token/" method="POST">
            {% csrf_token %}
                <button type="submit">AUTH Token</button>
        </form>
        Token: {{access_token}}
        {{content}}
    </div>
    <br />
    {{ block.super }}
{% endblock %}